.sendForm {
    text-align:end;
    margin-top: 50px;
}

.textarea {
    width: 1200px;
    margin-right: 50px;
    padding: 8px 30px;
    border-radius: 30px;
    border: 0px;
    background: gainsboro;
    outline: none;
    resize: none;
    vertical-align: middle;

}

.button {
    padding: 8px 30px;
    background: blue;
    border-radius: 30px;
    border: 0px;
}

.button:hover {
    box-shadow: 0 0 10px blue;
}
.button:active {

}
